{% include base_path %}

{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">
        <span class="pager-label">← 이전 글</span>
        <span class="pager-title">{{ page.previous.title }}</span>
      </a>
    {% else %}
      <a href="#" class="pagination--pager disabled">
        <span class="pager-label">← 이전 글</span>
      </a>
    {% endif %}
    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">
        <span class="pager-label">다음 글 →</span>
        <span class="pager-title">{{ page.next.title }}</span>
      </a>
    {% else %}
      <a href="#" class="pagination--pager disabled">
        <span class="pager-label">다음 글 →</span>
      </a>
    {% endif %}
  </nav>
{% endif %}
